.list-unstyle() {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.container-reset {
  margin-left: -20px;
  margin-right: -20px;
}

.title() {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
