.page-footer__wrapper {
  padding-top: 15px;
}

.page-footer__block {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer__hashtag {
  .title();
}

.page-footer__academy-link {
  display: flex;
  justify-content: center;
  color: inherit;

  &:hover .page-footer__academy-icon,
  &:focus .page-footer__academy-icon {
    fill: @firmcolor;
  }

  &:active .page-footer__academy-icon {
    fill: #000000;
    opacity: 0.3;
  }
}

.page-footer__developed {
  line-height: 26px;
  padding-right: 13px;
  margin-top: 4px;
}

.page-footer__academy-icon {
  cursor: pointer;
}
