.page-header__menu-wrapper--opened {
  position: absolute;
}

.page-header__menu-wrapper--closed {
  display: none;
}

.page-header__menu-wrapper--nojs {
  display: block;
}

.page-header__menu {
  .list-unstyle();
}

.page-header__menu-link {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  color: hsl(0, 0%, 100%);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: @firmcolor;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  .container-reset();

  .firmhover();
}

.page-header__title {
  position: relative;
}

.page-header__logo-icon {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.page-header__logo-icon--desktop {
  display: none;
}

.page-header__toggle {
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--burger {
    .page-header__icon {
      &--cross {
        display: none;
      }

      &--burger {
        display: block;
        fill: @firmcolor;
      }
    }
  }

  &--cross {
    .page-header__icon {
      &--cross {
        display: block;
      }

      &--burger {
        display: none;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    position: relative;
  }

  .page-header__title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 102px;
    margin: 0 auto;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__menu-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 48px;
    padding-right: 25px;
  }

  .page-header__nav {
    &--left {
      width: 30.08%;
    }

    &--right {
      width: 32.94%;
    }
  }

  .page-header__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .page-header__menu-link {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    margin-left: 0;
    margin-right: 0;
    border: none;
    background-color: transparent;

    .menu-hover();
  }
}

@media (min-width: @desktop-width) {
  .page-header__title {
    width: 187px;
  }

  .page-header__logo-icon--mobile {
    display: none;
  }

  .page-header__logo-icon--desktop {
    display: block;
  }

  .page-header__menu-wrapper {
    padding-left: 92px;
    padding-right: 68px;
  }

}
