.advantages {
  margin-top: 20px;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
}

.advantages__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &--house {
    order: 1;
  }

  &--food {
    order: 3;
  }

  &--souvenirs {
    order: 2;
  }
}

.advantages__illustration {
  width: 14.29%;
}

.advantages__icon {
  fill: @firmcolor;
  width: 100%;
}

.advantages__description {
  width: 82.14%;
}

.advantages__title {
  margin-top: 25px;

  .title();
}

.advantages__text {
  margin-bottom: 10px;
}
