.head-block {
  border-bottom: 1px solid @bordercolor;

  &--index {
    border-bottom: none;
  }
}

.head-block__illustration {
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;

  &--index {
    padding-top: 90px;
  }
}

.head-block__caption {
  display: block;
  width: 87.5%;
  margin: 0 auto;
}

.head-block__title {
  text-align: center;

  .title();
}

.head-block__text {
  text-align: center;
}
