.head-block {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;

  &--index {
    min-height: 615px;
    padding-top: 90px;

    .head-block__greeting {
      margin-top: 130px;
    }
  }
}

.head-block__caption {
  display: block;
  width: 87.5%;
  margin: 0 auto;
}

.head-block__title {
  text-align: center;

  .title();
}

.head-block__text {
  text-align: center;
}
