.photo-block {
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 1px solid @bordercolor;
}

.photo-block__image {
  display: block;
}

.photo-block__title {
  .title(14px);
}

.photo-block__text {
  text-transform: none;
}

.photo-block__likes {
  display: flex;
  align-items: center;
}

.photo-block__like-icon {
  fill: @likecolor;
  outline: none;
  cursor: pointer;

  .controls-hover();
}

.photo-block__like-counter {
  font-weight: 700;
  color: #000000;
  margin-left: 15px;
}

@media (min-width: @tablet-width) {
  .photo-block {
    width: 50%;
    padding: 0;
    margin: 0;
    border: none;

    &--main {
      width: 100%;

      .photo-block__subtitle {
        background-color: @photosublight;
      }

      .photo-block__likes {
        justify-content: flex-end;
      }
    }

    &:nth-child(2n) {
      .photo-block__subtitle {
        background-color: @photosublight;
      }
    }

    &:nth-child(2n+3) {
      .photo-block__subtitle {
        background-color: @photosubdark;
      }
    }
  }
}

.photo-block__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.photo-block__description {
  width: 75%;
}

.photo-block__likes {
  justify-content: flex-start;
  width: 25%;
}
