.reason{
  background-color: @firmcolor;
}

.reason__description {
  color: hsl(0, 0%, 100%);
}

.reason__title {
  text-align: center;
  padding-top: 40px;
  margin-top: 0;

  .title();
}

.reason__number {
  text-align: center;
}

.reason__text {
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.reason__image {
  display: block;
}
