.searching {
  margin-bottom: 50px;
}

.searching__title {
  text-align: center;
  margin-top: 28px;

  .title();
}

.searching__text {
  line-height: 24px;
  text-align: center;
  margin-bottom: 35px;
}

.searching__button {
  width: 280px;
  margin: 0 auto;
}
